.height-custom {
    min-height: 60vh;
}

/* .card-w {
    width: ; da modificare a piacimento
} */

.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}